<h4>Parcel: <%= @parcel.l %> x <%= @parcel.w %> x <%= @parcel.h %>, <%= @parcel.weight %> lbs</h4>

<p><a href="/parcels/<%= @parcel.id %>/cost">Shipping $</a></p>
<p><a href="/parcels/<%= @parcel.id %>/edit">Edit parcel</a></p>
<a href="/parcels">Return to parcel list</a>